[mysqld]
user=root
default-storage-engine=INNODB
character-set-server=utf8
#binlog setting
log-bin=mysql-bin   # 开启binlog
binlog-format=ROW
server-id=23567     # 自定义且不能和canal的slaveId重复
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8